@page
@model AGENDA.Pages.Clientes.Eliminar
@{
    ViewData["Title"] = "Eliminar";
}

<div class="mx-auto rounded border p-4" style="width: 400px">
    <h2 class="text-center mb-3"> Eliminar Cliente</h2>
    <hr />
    <p> ¿Estás seguro que quieres eliminar este cliente?</p>
    <p>Cliente ID= @Request.Query["IdContacto"]</p>
    <hr />
    
    <Form method="post">
        <div class="row">
            <div class="col-sm-6 d-grid">
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
            <div class="col-sm-6 d-grid">
                <a class="btn btn-outline-danger" href="/Clientes/Index">Cancelar</a>
            </div>
        </div>
    </Form>
</div>